# No versions specified
langchain
langchain-openai
langchian-docling
langchain-community
langchain-pinecone
pinecone-client
faiss-cpu
fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
pypdf
tiktoken
loguru
httpx